CURRENT_PATH = /home/pzzhou/Scripts/repos/homo_model/homo

LIB = /home/pzzhou/Scripts/repos/homo_model/lib

FC = gfortran

FFLAGS = -cpp -O2 -ffree-form -ffixed-line-length-none -ffree-line-length-none

INCL = -I$(LIB)

OP = -Wl, --start-group
CL = -Wl, --end-group

CHEMDIR  = /home/pzzhou/Scripts/repos/homo_model/chemistry_case
CHEMCASE = mcm
